.Create{
    display:flex;
    flex-direction: row;
}

.create-state{
    width: 100%;
}

.close-button{
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.Toastify__toast{
    z-index: 100;
    color: white;
    background: white;
}

.modal-background{
    opacity:0.5 !important;
    width: 100vw;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container{
    position: absolute;
    top: 0px;
    display: flex;
    margin: 0 auto;
    width: 100vw;
    height: 100vw;
    
}

.modal-content{
    top: 0;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 750px;
    background-color: white;
    z-index: 5;
    border: 1px solid black;
    border-radius: 25px;
}

.modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;

}

.header-label{
    font-size: 24px;
    display: flex;
    margin-left: 20px;
    font-weight: 500;
}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 85%;
}

.input-area{
    width:100%;
    height: 100%;
}

.title{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    margin-bottom: 10px;
}

.title > label{
    margin-bottom: 5px;
    font-size: 18px;
}

.title > input{
    border-radius: 5px;
    padding: 10px;
    border: 1px solid black;
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 18px;
}

.text-area{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    height: 100%;
    margin-bottom: 10px;
}

.text-area > label{
    margin-bottom: 5px;
    font-size: 18px;
}

.text-area > textarea{
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 18px;
    height: 65%;
    border-radius: 5px;
}


.modal-footer{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    height: 5%;
}

.close-modal{
    padding: 10px 35px;
    margin: 0 5px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: red;
}

.close-modal:hover{
    color: white;
    background-color: red;
}

.save-modal{
    padding: 15px 50px;
    margin-right: 20px;
    margin-left: 10px;
    border-radius: 15px;
    border: none;
    background-color: white;
    font-weight: 600;
    border: 1px solid black;
}

.save-modal:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    background-color: hsla(60, 23%, 3%, 0.75);
}

.create-repo{
    margin-left: 20px;
    width: 90%;
    margin-bottom: 10px;
}

.repo-label{
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
}

.selector{
    display:flex;
    flex-direction: row;
}

.repo-select{
    width: 50%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.state-label{
    font-size: 18px;
    margin-bottom: 5px;
}

.state-select{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    width: 45%;
    margin-left: 20px;
}
.create-body::placeholder{
    padding-top: 5px;
    padding-left: 5px;
}
.create-body:focus{
    padding-left: 10px;
    padding-top: 10px;
}

@media screen and (max-width:960px){
    .modal-content{
        width:375px;
        height: 550px;
    }

    .modal-backdrop{
        position: fixed;
        top: 0;
        left: 0;
        padding-bottom:7px;
        padding-right: 7px;
        overflow-y: scroll;
    }

    .modal-dialog{
        height: 500px;
    }
    
    .modal-container{
        top: 20px;
        height: 100svh;
        overflow-y: scroll
    }
    
    .state-select{
        margin-right: 20px;
    }

    .text-area > textarea{
        font-family: Georgia, Times, Times New Roman, serif;
        font-size: 18px;
        height:230px!important;
        border-radius: 5px;
    }

    .repo-label, .state-label{
        font-size: 17px;
    }

    .form-label{
        font-size: 17px !important;
    }

    
}