.create-div{
    display:flex;
    flex-direction: column;
    width: 92%;
    left: 0;
    margin-bottom: 20px;
}
.left-side-container{
    display: flex;
    flex-direction: column; 
}

.filter{
    position:inherit;
    height: 85%;
}
.content{
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 500;
    padding-right: 1px;
    width: 92%;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 5px;
    cursor : pointer;
    text-align: center;
    text-decoration: none;
    color: black;
}

.content:hover{
    background-color : black;
    color: white;
}

#selected{
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#unselected{
    background-color: white;
    color: black;
}

#unselected:hover{
    background-color: black;
    color: white;
}

@media screen and (max-width:960px){
    .content{
        width: 97%;
        margin-left: 3px;
    }
    
    .container{
        height: 100svh;
        overflow-x:hidden;
        overflow-y:scroll;
    }
    
}