html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
	vertical-align: baseline;
}

/* Login.jsx*/

.login-background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: hsla(60, 23%, 3%, 0.75);
}

.login{
    position :absolute;
    top: 34%;  
    left: 42%;
}

.login-container{
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 70px;
    height: 130px;
    border: 1px-solid black;
    background-color: white;
    border-radius: 20px;
}

#github-login{
    border-radius: 10px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
    background-color: #0d1117;
    color: white;
    border: solid 1px black;
    margin-right: 20px;
    margin-top: 20px;
   
}

#github-login:hover{
    background-color: hsl(0, 0%, 20%);
    color: white;
}

/* Navbar.jsx */
.navbar{
    width: 100vw;
    background-color: white;
    display: flex;
    padding-bottom: 16px;
    padding-top: 16px;
    align-items: center;
    line-height: 1.5;
    border-bottom: 1px solid rgb(133, 127, 127);
}

#github-icons{
    color:black;
    font-size: 3rem;
    margin-left: 25px;
    cursor: pointer;
    transition: transform 450ms;
}

#github-icons:hover{
    transform: scale(1.1);
}
.nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100vw;
}

.nav-content{
    margin-left: 20px;
}

.form-search{
    display:flex;
    border: 1px solid black;
    border-radius: 5px;
}

#search-box{
    margin: 0;
    padding: 10px;
    width: 305px;
    color: white;
    background-color: black;
    border: none;
}

#search-box::placeholder{
    color:white;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.search-btn{
    padding: 10px;
    border-top-right-radius:7px;
    border-bottom-right-radius: 7px;
    border: none;
    background-color: white;
    color:  rgb(71, 69, 69);
    cursor: pointer
}

.search-btn:hover{
    color: black;
}

#search-hi{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}


#sign-in{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 7px;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    cursor: pointer;
    background-color: white;
}

.nav-right{
    display:flex;
    flex-direction: row;
    margin-right: 10px;
    width: 250px;
    position: relative;
    justify-content: right;
}

.profile-container{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 110%;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
    border: 1px solid black;
    padding: 0px;
    border-radius: 5px;
    margin-right: 20px;
}

#profile{
    cursor: default;
}

.profile-content{
    border-bottom: 1px solid black;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
}


.profile-content:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

#profile:hover{
    background-color: white;
    color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.profile-content > a {
    font-weight: 600;
}

#close{
    position:absolute;
    width:20px;
    height:20px;
    right: 10px;
    top: 10px;            /* new */
    background-color:#fff;
    text-align:center;
    cursor:pointer;
}

#github-logout{
    cursor: pointer;
    color: black;
    text-decoration: none;
}

#avatar{
    object-fit: contain;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.userdata{
    margin-top: 10px;
    display:flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
}

.avatar-popup{
    object-fit: contain;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

